body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('randDesign1.jpg');
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    font-family: 'montserrat';
    color: #fff2e6;
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200px;
    background-color: #262525;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(120, 120, 120, 0.7);
    display: flex; 
    justify-content: center; 
    align-items: center;
}



.date{
    vertical-align: center;
    font-size: 50px;
    margin-top: 450px;
    position: relative; 
}

.ampm{
    font-size: 80px;
    padding: 10px;
    margin-top: 80px;
}